<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Customer Info</h1>
        <% if(successMsg){ %>
          <div class="alert alert-success" role="alert">
            <%= successMsg %>
          </div>
        <% } %>
        <a href="/insert" class="btn btn-success">Add Info</a>
        <% if(data.length > 0){ %>
            <% data.forEach(rows => { %>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Tel</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><%= rows._id %></th>
                    <td><%= rows.fullname %></td>
                    <td><%= rows.address %></td>
                    <td><%= rows.tel %></td>
                    <td><img src="img/<%= rows.image %>" style="width: 150px; height: 150px;"></td>
                    <td>
                        <a href="/edit/<%= rows._id %>" class="btn btn-primary">Edit</a>
                        <a href="/delete/<%= rows._id %>" class="btn btn-danger" onclick="return alert('Sure you want to delete');">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% }); %>
        <% }else{ %>
            <p class="text-center mt-5">Not Found Customer Info.</p>
        <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>